<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Total Commission</title>

<link href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"  rel="stylesheet">
<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/webjars/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
<div class="container">
	 <div class="page-header">
	<h1>Total Payment for <span th:text="${headHunter.firstName} +' '+${headHunter.lastName}"></span> For Month <span th:text="${#temporals.monthName(todayDate)}"></span> <span th:text="${#temporals.year(todayDate)}"></span> is <span th:text="${feeDto.totalValue}"></span></h1>
	<table  class="table table-bordered">
		<tr>
			<th>Total number of carpenters recruited</th>
			<th>Total number of masons recruited</th>
			<th>Total number of recruits</th>
			<th>Total Carpenter Commission</th>
			<th>Total Mason Commission</th>			
			<th>Total Carpenter Value</th>
			<th>Total Mason Value</th>
			<th>Total Value</th>
		</tr>
		<tr>
			<td th:text="${feeDto.totalCarpenters}"></td>
			<td th:text="${feeDto.totalMasons}"></td>
			<td th:text="${feeDto.totalMasons + feeDto.totalCarpenters}"></td>
			<td th:text="${feeDto.totalCarpenterCommison}"></td>
			<td th:text="${feeDto.totalMasonCommison}"></td>			
			<td th:text="${feeDto.totalCarpenterValue}"></td>
			<td th:text="${feeDto.totalMasonValue}"></td>
			<td th:text="${feeDto.totalValue}"></td>
		</tr>
	</table>
	
	<br>
	<a class="btn btn-primary" href="/headhunter" >Back</a>
	</div>
	</div>
</body>
</html>